<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <%= image_tag("headphones.png") %>
      <!-- <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> -->
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/playlists">Playlists</a></li>
        <% if current_user %>
          <li class="nav-link">
            <%= link_to "Logout", logout_path, method: :delete %>
          </li>
          <li class="nav-link">
            <%= link_to "Your Profile", user_path(current_user.id) %>
          </li>
        <% end %>
      </ul>
    </nav>
      <div class="navigation-tools">
          <div class='search-bar' data-search="<%= { states: @playlists }.to_json %>">
            <%= form_tag(playlists_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "playlists/rooms", class: "typeahead"%>
              <button type="submit" class="btn">
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
              </button>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</header>
