<!DOCTYPE html>
<html>
<head>
  <title>SpinIM</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
      soundcloud.addEventListener('onPlayerReady', function(player, data) {
       player.api_play();
      });
     soundcloud.addEventListener('onMediaEnd', function(player, data) {
      <% javascript_tag do %>
        Session["queue"] = "<%= session[:queue].shift if session[:queue] !=nil %>";
      <% end %>
      window.location.reload(true);
     });
  </script>

  <script type="javascript">

    <% javascript_tag do %>
      var current_user = <%= current_user.username if current_user %>
    <% end %>
  </script>
</head>
<body>

  <div class="container-fluid">

    <div class="messages">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "flash-#{name}" %>
      <% end %>
    </div>

    <%= yield %>

  </div>

</body>
</html>
